$border-radius: 0.4rem;
$primary-font: "Montserrat", sans-serif;

$text-color: #2d3e50;
$blue-color: #43607e;
$green-color: #46ac4a;
$green-light-color: #6cd970;
$link-color: #e64c66;
$error-color: #fb3d3d;

$gray-color: #333333;
$gray1-color: #aeaeae;
$gray2-color: #bdbdbd;
$gray3-color: #e0e0e0;
$gray4-light-color: #f2f2f2;
$gray5-super-light-color: #fafafa;
$white-color: #ffffff;

// indents
$indent-block: 4rem;
$indent-lead: 2.4rem;
$indent-h0: 4.8rem;
$indent-h1: 4rem;
$indent-h2: 3.2rem;
$indent-h3: 2.4rem;
$indent-h4: 1.6rem;
$indent-h5: 0.8rem;
$indent-header-padding: 0;
